<div class="outer">
    <div class="container">
        <div class="row">
            <div class="container-profile bg-white">
                <div class="panel-heading">
                    <h2 class="pt-3 font-weight-bold">Welcome User</h2>
                </div>
                <div class="panel-board p-3">
                    <div class="level">
                        <img class="img" src="../../../assets/images/level-up.png" alt="level">
                        <h4>Level: 10</h4>
                    </div>
                    <div class="xp">
                        <img class="img" src="../../../assets/images/xp.png" alt="xp">
                        <h4>Xp: 1550</h4>
                    </div>
                    <div class="points">
                        <img class="img" src="../../../assets/images/points.png" alt="points">
                        <h4>Points: 500</h4>
                    </div>
                </div>
                <button class="btn btn-danger btn-block mt-4 w-100">Logout</button>
            </div>
            <div class="container-content bg-white">
                <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
                    <mat-tab label="First">Content 1</mat-tab>
                    <mat-tab label="Second">Content 2</mat-tab>
                    <mat-tab label="Third">Content 3</mat-tab>
                </mat-tab-group>
            </div>
        </div>

    </div>
</div>