<div class="outer">
    <div class="container">
        <div class="nav-container bg-white rounded">
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink='/dashboard'
                        routerLinkActive='active'>Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='/quests' routerLinkActive='active'>Quests</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive='active' routerLink='/badges'>Badges</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive='active' routerLink='/leaderboards'>Leader Board</a>
                </li>
            </ul>
        </div>
        <div class="row mt-4">
            <div class="container-content bg-white">
                <table class="GeneratedTable">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Xp</th>
                            <th>Points</th>
                            <th>Quests Completed</th>
                            <th>Quests Composed</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of dataSource">
                            <td>{{item.username}}</td>
                            <td>{{item.xp}}</td>
                            <td>{{item.points}}</td>
                            <td>{{item.questsCompleted}}</td>
                            <td>{{item.questsComposed}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>